<div class="container">
  <img class="Media" src="https://img.freepik.com/vector-gratis/ilustracion-concepto-happy-wake-up_114360-23506.jpg?w=1380&t=st=1710218301~exp=1710218901~hmac=d42dada70e186ff18a7d794601bc1840cb26247f2e99afb54280f0686c38d392" />
  <div class="content">
    <div class="title">SmartAwake</div>
    <div class="inputs">
      <input type="text" class="input" placeholder="Correo">
      <input type="password" class="input" placeholder="Contraseña">
    </div>
    <button class="button">Iniciar sesión</button>
  </div>
</div>
