<!-- main-layout.component.html -->
<div class="container">
    <aside class="sidebar">
      <div class="logo-container">
        <img src="https://cdn-icons-png.freepik.com/512/4804/4804212.png" alt="Logo" class="sidebar-logo">
      </div>
      <nav class="nav">
        <ul>
          <li class="nav-item active"><a href="/home">Inicio</a></li>
          <li class="nav-item"><a href="/users">Usuarios</a></li>
          <li class="nav-item"><a href="/questions">Preguntas</a></li>
        </ul>
      </nav>
    </aside>
    <main class="content">
        <div class="admin-section">
            <span class="admin-icon">👤</span> 
            <span class="admin-text">Admin</span>
        </div>
        <div class="welcome-section">
          <h1>¡Bienvenido a la consola de administración de SmartAwake!</h1>
        </div>
    </main>
</div>
