.container {
    display: flex;
    min-height: 100vh;
  }
  
  .sidebar {
    width: 240px;
    background-color: #ffffff;
    color: white;
  }

  .logo-container {
    padding: 30px 50px; 
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
  }
  
  .sidebar-logo {
    width: auto; 
    height: 100px; 
    display: block; 
    margin: 0 auto; 
  }
  
  .nav {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-item {
    padding: 15px 20px;
  }
  
  .nav-item a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  .nav-item.active {
    background-color: #5467E2;
  }
  
  .content {
    flex-grow: 1;
    background-color: #ecf0f1;
    padding: 20px;
  }
  
  .users-section {
    background-color: #ffffff;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .users-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .search-area {
    display: flex;
    align-items: center;
  }
  
  .search-label {
    margin-right: 10px;
    font-weight: bold;
    color: #34495e; 
  }
  
  .search-box input {
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
  }
  
  .search-box input {
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
  }
  
  .users-table {
    display: flex;
    flex-direction: column;
  }
  
  .user-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .user-info {
    display: flex;
    gap: 20px;
  }
  
  .user-name, .user-email, .user-date {
    width: 150px; 
  }
  
  .content {
    flex-grow: 1;
    background-color: #ffffff; 
    padding: 20px;
    border-left: 1px solid black; 
    display: flex;
    flex-direction: column;
  }
  
  .admin-section {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px; 
    display: flex;
    align-items: center;
  }
  
  .admin-icon {
  
    margin-right: 10px;
  }

  .welcome-section {
    flex-grow: 1;
    display: flex;
    align-items: center; 
    justify-content: center;
  }
  
  .welcome-section h1 {
    color: #34495e; 
    font-size: 2.5rem; 
    text-align: center; 
    margin: 0; 
  }